/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* body{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300  ;
  font-style: normal;

} */
@import "tailwindcss";
.splashscreen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.clip-inward-triangle {
  clip-path: path("M0 0 L100% 0 Q50% 80% 0 100% Z");
}

.flip-card {
  background-color: transparent;
  width: 384px;
  height: 384px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

/* .clip-curved-triangle {
  clip-path: path("M 0 0 L 40 0 Q 0 40 0 0 Z");
} */
